@{
    ViewBag.Title = "adminpage";
}
<h2>Admin side</h2>

<center>
    <form method="post" action="~/home/register">
        <input type="submit" value="change password" />
    </form>
    <h1>admin's Functionality</h1><br/>
    <h2>Admin can perform different fuctions given below </h2><br/>
    <form method="post" action="~/home/adminadd">
        <input type="submit" value="Add Item" />
    </form>
    <br/><br /><br />
    <form method="post" action="~/home/adminview">
        <input type="submit" value="View Item" />
    </form>
    <br /><br /><br />

    <form method="post" action="~/home/admindel">
        <input type="submit" value="Delete Item" />
    </form>
    <br /><br /><br />

    <form method="post" action="~/home/adminupdate">
        <input type="submit" value="Update Item" />
    </form>

    <br /><br /><br />

   


</center>

