@{
    ViewBag.Title = "contact";
}



<div class="center_content">
    <div class="left_content">
        <div class="title"><span class="title_icon"><img src="../../Content/bullet1.gif" alt="" title="" /></span>Contact Us</div>

        <div class="feat_prod_box_details">
            <p class="details">
            You can contact us through mobile number or e-mail. You will get quick response as possilble.    
            </p>

            <div class="contact_form">
                <div class="form_subtitle"> Contact Through</div>
                <div class="form_row">
                    <label ><strong>Mobile Number:</strong></label></br>
                    <label style="margin-left:100px ; color: blueviolet">+92 3331687969 </label>
                </div>
                <div class="form_row">
                    <label ><strong>Email:</strong></label></br>
                    <label style="margin-left:50px ; color: blueviolet">faizamehmood.it@gmail.com </label>
                </div>

                <div class="form_row">
                    <label><strong>PTCL Number:</strong></label></br>
                    <label style="margin-left:100px ; color: blueviolet">+047 7501086 </label>
                </div>

            </div>

        </div>




        <div class="clear"></div>
    </div><!--end of left content-->

    <div class="right_content">


        <div class="title"><span class="title_icon"><img src="../../Content/bullet3.gif" alt="" title="" /></span>About Our Shop</div>
        <div class="about">
            <p>
                <img src="../../Content/about.gif" alt="" title="" class="right" />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            </p>

        </div>

       

    </div><!--end of right content-->




    <div class="clear"></div>
</div><!--end of center content-->

