
@{
    ViewBag.Title = "details";
}

<center >
    <br />
    <form method="post" action="~/home/sname">
        <h2 style="color:black">Enter name of Customer</h2> <br />
        <input type="text" name="c.cust_name" />
        <br /><br /><br />
        
            <input type="submit" value="Next" style="margin-left: 30px; background-color: blue; color: white" />
        
    </form>

</center>