@{
    ViewBag.Title = "feedback";
}


<div class="center_content">
    <div class="left_content">
        <div class="title"><span class="title_icon"><img src="../../Content/bullet1.gif" alt="" title="" /></span>Feed Back</div>

        <div class="feat_prod_box_details">
            <p class="details">
                Give feedback.
            </p>
            <form method="post" action="~/home/addmessage">
                <div class="contact_form">
                    <div class="form_subtitle"> Feedback </div>
                    <div class="form_row">
                        <label class="contact"><strong>Name:</strong></label>
                        <input type="text" name="c.name" class="contact_input" />
                    </div>
                    <div class="form_row">
                        <label class="contact"><strong>Message:</strong></label>
                        <textarea class="contact_textarea" name="c.message"></textarea>
                    </div>

                    <div class="form_row">
                        <input type="submit" value="send" style="margin-left:250px;background-color:blue;color:white" />
                       
                    </div>

                </div>
                </form>


            <h1>People Views</h1>
           
            <table>

                <tr style="color:blue">
                    <td><h2> ID</h2></td>
                    <td><h2> Name</h2></td>
                    <td><h2>Message</h2></td>
                </tr>

                @foreach (var s in Model)
                {
                    <tr>
                        <td style="color:orangered">@s.Id</td>
                        <td>@s.name</td>
                        <td>@s.message</td>
                        
                    </tr>
                }
            </table>




</div>




        <div class="clear"></div>
    </div><!--end of left content-->

    <div class="right_content">


        <div class="title"><span class="title_icon"><img src="../../Content/bullet3.gif" alt="" title="" /></span>About Our Shop</div>
        <div class="about">
            <p>
                <img src="../../Content/about.gif" alt="" title="" class="right" />
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud.
            </p>

        </div>



    </div><!--end of right content-->




    <div class="clear"></div>
</div><!--end of center content-->

